.inicial-container {
  text-align: center;
  padding: 80px 20px;
  background-color: #e6f0fa;
  height: 100vh;
}

.inicial-container h1 {
  font-size: 3rem;
  color: #004080;
  margin-bottom: 20px;
}

.inicial-container p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;
}

.inicial-container button {
  background-color: #004080;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.inicial-container button:hover {
  background-color: #003366;
}
