@media (max-width: 767px) {
    /* Regras para OCULTAR COLUNAS ESPECÍFICAS na tabela de FUNCIONÁRIOS em mobile */
    /* Deixando visíveis 'Nome' e 'Ações' */
    .lista-tabela td[data-label="ID Interno"],
    .lista-tabela td[data-label="CPF"],
    .lista-tabela td[data-label="Email"],
    .lista-tabela td[data-label="Telefone"],
    .lista-tabela td[data-label="Senha"] {
        display: none;
    
    }
    .lista-tabela th:nth-child(3),
    .lista-tabela th:nth-child(6){
      display: none;
    }

    /* Ajustes específicos para a coluna "Nome" (se ela for a principal visível) */
    .lista-tabela td[data-label="Nome"] {
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
        text-align: left;
        padding-left: 15px;
        background-color: #f0f0f0;
        border-bottom: 1px solid #ddd;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .lista-tabela td[data-label="Nome"]::before {
        display: none; /* Não exibe o rótulo "Nome" */
    }

    
}